/*! 
Mis en place par Mistral Oz
*/
body > .container {
  margin-top: 75px;
}
.navbar a.navbar-brand img {
    margin-top: -10px;
}
  .navbar a.navbar-brand:hover img {
      opacity: 0.4;
      filter: alpha(opacity=40); /* For IE8 and earlier */
  }
@media (min-width: 768px) {
  .navbar-inverse .navbar-nav > .open > a,
  .navbar-inverse .navbar-nav > .open > a:hover,
  .navbar-inverse .navbar-nav > .open > a:focus,
  .navbar-inverse .navbar-nav > li > a:hover,
  .navbar-inverse .navbar-nav > li > a:focus {
    padding-bottom: 21px;
    border-bottom: 6px solid #8814CC;
  }
}
@media (max-width: 768px) {
  .navbar-inverse .navbar-nav > .open > a,
  .navbar-inverse .navbar-nav > .open > a:hover,
  .navbar-inverse .navbar-nav > .open > a:focus,
  .navbar-inverse .navbar-nav > li > a:hover,
  .navbar-inverse .navbar-nav > li > a:focus {
    padding-bottom: 8px;
    border-bottom: 2px solid #8814CC;
  }
}
.navbar > .container {
  position:relative;
}
.navbar .call-to-action {
  position:absolute;
  top: 22px;
  right: 22px;
}
  .navbar .call-to-action a {
    border: 1px solid #AAA;
    border-radius: 50%;
    color: #CCC;
    display: inline-block;
    font-size: 17px;
    height: 30px;
    line-height: 30px;
    margin: 0px 4px;
    text-align: center;
    width: 30px;
    text-decoration: none;
  }
    .navbar .call-to-action a:hover,
    .navbar .call-to-action a:active {
      background-color: #8814CC;
      color: #FFF;
      border-color: transparent;
    }
  @media (max-width: 768px) {
    .navbar .call-to-action {
      right: 70px;
    }
  }
  @media (max-width: 435px) {
    .navbar .call-to-action {
      top: 47px;
      left: 56px;
    }
      .navbar .call-to-action a{
        border: 0 none;
        font-size: 15px;
        height: 12px;
        width: 12px;
      }
        .navbar .call-to-action a:hover,
        .navbar .call-to-action a:active {
          background-color: transparent;
          color: #8814CC;
        }
  }

footer.footer-page {
  border-top:solid 1px #8814CC;
  min-height: 20px;
  padding-top:20px;
  padding-bottom:20px;
  position: relative;
}
  footer.footer-page > div{
    width: 32%;
    display: inline-block;
    position: absolute;
    top:0;
  }
    footer .footer-left {
      line-height: 23px;
      left:0;
    }
    footer .footer-center {
      text-align: center;
      font-size: 17px;
      margin: 10px 33%;
    }
      footer .footer-center .go-back{
        border: 1px solid #8814CC;
        border-radius: 50%;
        height: 27px;
        width: 27px;
        display: inline-block;
      }
    footer .footer-right {
      text-align: right;
      line-height: 23px;
      right:0;
    }
  @media (max-width: 768px) {
    footer.footer-page {
      font-size: .8em;
    }
      footer.footer-page i.fa{
        font-size: 0.7em;
      }
      footer .footer-center .go-back{
        border: 0px none;
        width: 10px;
      }
  }