<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
<h1>Thème d'exemple</h1>
<p>Ceci est un thème d'exemple, c'est le point de départ pour créer quelque chose de nouveau, d'unique ... aux couleurs du Parti Pirate. Vous pouvez le reprendre et l'améliorer sur <a href="https://github.com/PartiPirate/Bootstrap">GitHub</a> et vous pouvez en faire CE QUE VOUS VOULEZ. Si vous ne l'utilisez pas avec l'accord du Parti Pirate, il vous est juste demandé de changer le logo et les mentions légales à votre identité.</p>
</div>