<footer class="footer-page">
    <div class="footer-left">
      <p>Site créé par le <a href="https://www.partipirate.org/">Parti Pirate</a> - <a href="licence.html">licence</a></p>
    </div>
    <div class="footer-center"><ul class="list-inline">
      <li><a href="https://twitter.com/PartiPirate"><i class="fa fa-twitter"></i></a></li>
      <li><a href="#top" rel="nofollow" class="go-back"><i class="fa fa-angle-up"></i></a></li>
      <li><a href="https://www.facebook.com/partipiratefr"><i class="fa fa-facebook"></i></a></li>
    </ul></div>
    <div class="footer-right"><ul class="list-inline">
      <li><a href="https://www.partipirate.org/Mentions-legales">Mentions Légales</a></li>
      <li><a href="https://www.partipirate.org/-Contacts-">Contact</a></li>
    </ul></div>
</footer>