<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Sommaire</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html"><img src="{{ include.baseUrl }}img/logo.png" alt="Parti Pirate" class="img-responsive" width="175" /></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li {% if page.url == "/index.html" %}class="active"{% endif %}><a href="{{ include.baseUrl }}index.html">Accueil</a></li>
        <li {% if include.page == "spreadshirt-echoppe" %}class="active"{% endif %}><a href="https://echoppe.spreadshirt.fr">Boutique</a></li>
        <li {% if include.page == "spreadshirt-partipirate" %}class="active"{% endif %}><a href="https://partipirate.spreadshirt.fr/">Produits à personnaliser</a></li>
        <li {% if page.url == "/diy.html" %}class="active"{% endif %}><a href="{{ include.baseUrl }}diy.html">Do It Yourself</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Divers <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="https://www.partipirate.fr">Site du Parti Pirate</a></li>
            <li><a href="https://github.com/PartiPirate/Boutique/issues">Remonter un bug</a></li>
            <li {% if page.url == "/licence.html" %}class="active"{% endif %}><a href="{{ include.baseUrl }}licence.html">Licence</a></li>
          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
    <div class="call-to-action">
      <a class="fa fa-sign-in" href="https://adhesion.partipirate.org" title="Rejoignez le parti !"></a>
      <a class="fa fa-eur" href="https://don.partipirate.org" title="Faites un don"></a>
      <a class="fa fa-twitter" href="https://twitter.com/PartiPirate" title="Suivez-nous sur twitter"></a>
      <a class="fa fa-facebook" href="https://www.facebook.com/partipiratefr?fref=ts" title="Suivez-nous sur facebook"></a>
    </div>
  </div>
</nav>
