---
layout: default
title: SpreadShirt - A inclure
description: ""
image_url: ""
og_type: website
og_image_url: ""
twitter_image_url: ""
facebook_type: website
facebook_author: ""
facebook_image_url: ""
---
<div class="page-header">
  <h1>Dans le header</h1>
</div>
<h2>Tests</h2>
<ul>
	<li><a href="test-echoppe.html">Boutique</a></li>
	<li><a href="test-partipirate.html">Premium</a></li>
</ul>
<h2>Boutique standard</h2>
<p><a href="http://echoppe.spreadshirt.fr/">Header</a> : </p>
<pre>{% highlight html %}
	{% include spreadshirt-head.html baseUrl=site.data.params.url page="spreadshirt-echoppe" premium=0 %}
{% endhighlight %}</pre>
<p><a href="http://echoppe.spreadshirt.fr/">Footer</a> : </p>
<pre>{% highlight html %}
	{% include spreadshirt-footer.html baseUrl=site.data.params.url page="spreadshirt-echoppe" premium=0 %}
{% endhighlight %}</pre>
<h2>Boutique premium</h2>
<p><a href="http://partipirate.spreadshirt.fr">Header</a> : </p>
<pre>{% highlight html %}
	{% include spreadshirt-head.html baseUrl=site.data.params.url page="spreadshirt-partipirate" premium=1 %}
{% endhighlight %}</pre>
<p><a href="http://echoppe.spreadshirt.fr/">Footer</a> : </p>
<pre>{% highlight html %}
	{% include spreadshirt-footer.html baseUrl=site.data.params.url page="spreadshirt-partipirate" premium=1 %}
{% endhighlight %}</pre>
