{% assign urlSplit = page.url|remove_first:'/'|remove_last:'/'|split:'/' %}{% assign baseUrl = '' %}{% for item in urlSplit offset:1 %}{% assign baseUrl = '../'|prepend:baseUrl %}{% endfor %}{% include meta-head.html baseUrl=baseUrl %}
  <body role="document">

    {% include navbar.html baseUrl=baseUrl %}
    

    <div class="container" role="main">
      {{ content }}

      {% include footer.html baseUrl=baseUrl %}

    </div> <!-- /container -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ baseUrl }}js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ baseUrl }}js/bootstrap.min.js"></script>
  </body>
</html>
