<!DOCTYPE html>
<html lang="fr">
    <head>
    {% assign urlSplit = page.url|remove_first:'/'|remove_last:'/'|split:'/' %
    {% assign baseUrl = './' %}{% for item in urlSplit offset:1 %}{% assign baseUrl = '../'|prepend:baseUrl %}{% endfor %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{{ page.title }}{% if site.data.params.is_production != true %} - Préproduction{% endif %}</title>
    <link rel="icon" href="{{ baseUrl }}favicon.ico" type="image/x-icon" />

    <!-- Bootstrap -->
    <link href="{{ baseUrl }}css/styles.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body role="document">

    {% include navbar.html baseUrl=baseUrl %}
    

    <div class="container" role="main">
      {{ content }}

      {% include footer.html baseUrl=baseUrl %}

    </div> <!-- /container -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ baseUrl }}js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ baseUrl }}js/bootstrap.min.js"></script>
  </body>
</html>
